@import "./mixins.scss";

.content-body {

	border-bottom: 1px solid #e6e7df;
	padding: 10px 15px;
	position: relative;
    display: block;

    &.collapsed {
    	display: none;
    }

    .image-holder {
    	display: inline-block;
	    width: 30%;
	    max-width: 254px;
	    min-width: 140px;
	    vertical-align: middle;
	    height: 168px;
	    overflow: hidden;
	    position: relative;

        @include mobile {
            width: 70%;
            display: block;
            margin: 0 auto;
        }

    	 img {
	    	width: 100%;
		    height: auto;
		    position: absolute;
		    top: 50%;
    		margin-top: -50%;
	    }
    }

    .description {
    	margin-top: 20px;
    	display: inline-block;
    	width:70%;
    	height: auto;
    	vertical-align: top;
    	font-size: 1em;
    	font-family: sans-serif;
    	font-weight: 100;

         @include mobile {
            width: 100%;
            display: block;
            margin: 0 auto;
        }

    	&.no-image {
    		width: 100%;
    	}
    }
}


.no-data {
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
}
