.product-widget {
	display: block;
	position: relative;
	overflow: hidden;
	font-size: 14px;
	-webkit-box-shadow: 3px 4px 10px -2px rgba(0,0,0,0.21);
    -moz-box-shadow: 3px 4px 10px -2px rgba(0,0,0,0.21);
    box-shadow: 3px 4px 10px -2px rgba(0,0,0,0.21);

}

