h1.widget-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 20px 10px 20px;
	background: #eaead0; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left, #eaead0 , #c7c7a5); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #eaead0, #c7c7a5); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #eaead0, #c7c7a5); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #eaead0 , #c7c7a5); /* Standard syntax */
  	margin-bottom: 0;
  	margin-top: 0;

	span.main-text {
		font-size: 0.5em;
		font-family: sans-serif;
		color: #000;
	}

	span.fa-file {
		font-size: 20px;
		color: #426d12;
		margin-right: 10px;
	}

	a.toggle-collapse {

		position: absolute;
		right: 20px;

		span.fa  {
			color: #426d12;
		}
	}
}