@import "./mixins.scss";

.product-nav {
	padding: 10px 10px 8px 10px;
    position: relative;
    border-bottom: 1px solid #e6e7df;
    overflow: inherit;

    @include mobile {
    	padding:  5px;
    }

	&.collapsed {
		display: none;
	}

	button {
		display: inline-block;
		color: #426d12;
		font-family: sans-serif;
		position: relative;
		border: none;
	    background: transparent;
	    text-decoration: underline;
	    cursor: pointer;
	    padding: 0;

		&:hover {
			text-decoration: none;
		}

		&:focus {
			outline:0;
		}
	}

	.prev, .next {
		span {
			vertical-align: middle;
    		margin: 0 10px;
    		font-size: 1.1em;

		    @include mobile{
	    		width: 96%;
	    		margin: 0 5px;
	    	}
		}

		.fa {
			font-size: 2em;

			@include mobile{
	    		width: 2%;
	    		padding-right: 5px
	    	}
		}
	}

	.prev {
		display: inline-block;
		float:left;
	}

	.next {
		text-align: right;
	    float:right;

	}

	.clear {
		clear: both;
	}	
}

